*.swp
*.*.swp
*.out
simulation/oneclass/in
simulation/oneclass/nodes
simulation/oneclass/relations
simulation/oneclass/lines
simulation/oneclass/test-output/
simulation/multiclass/in
simulation/multiclass/nodes
simulation/multiclass/relations
simulation/multiclass/lines
simulation/multiclass/test-output/
*.class
