*.swp
*.*.swp
*.out
sim/oneclass/in
sim/oneclass/nodes
sim/oneclass/relations
sim/oneclass/lines
sim/oneclass/test-output/
sim/multiclass/in
sim/multiclass/nodes
sim/multiclass/relations
sim/multiclass/lines
sim/multiclass/test-output/
